# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# OS
.DS_Store
Thumbs.db
desktop.ini

# Virtual Env
.env
.venv
env/
venv/
ENV/

# Project specifics
unity_desktop_build/
unity_web_build/
BACKUP

# Security & Credentials
gcp-key.json
.env
